.save {
  margin-top: 1%;
}
.keys {
  display: block;
  height: 200px;
  width: 500px;
}
.note-key.pressed {
  background-color: #8f00b3;
}

.note-key {
  float: left;
  border: thin #ff00ff solid;
  width: 50px;
  background-color: #00e5e6;
  height: 200px;
}

h1, h5, h2, h3 {
  color: #ff00ff;
}

body {
  background-color: black;
}

.record, .play , .recording{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.record {
  background-color: red;
}

.recording {
  background-color: darkred;
}

.play {
  background-color: green;
}

.track-list {
  position: absolute;
  top: 75px;
  left: 600px;
  color: #ff00ff;
}

.track-header {
  position: absolute;
  top: 0;
  left: 600px;
  color: #ff00ff;
}

.track-name {
  margin: 5px;
}
