.keys {
  display: block;
  height: 200px;
  width: 500px;
  margin-left: 35%;
}
.note-key.pressed {
  background-color: #8f00b3;
}

.note-key {
  float: left;
  border: thin #ff00ff solid;
  width: 50px;
  margin: auto;
  background-color: #00e5e6;
  text-align: center;
  height: 200px;
}

h1, h5, h2 {
  text-align: center;
  color: #ff00ff;
}

body {
  background-color: black;
}

.record, .play , .recording{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.record {
  background-color: red;
}

.recording {
  background-color: darkred;
}

.play {
  background-color: green;
}
.buttons {
  text-align: center;
}
